---
interface Props {
    summary: string;
    name?: string;
    color?: "black" | "white";
    open?: boolean;
    overflow?: boolean;
}

const {
    summary,
    name,
    color = "white",
    open = false,
    overflow = false,
} = Astro.props;

let titleColor, paragraphColor, markerColor;

switch (color) {
    case "white":
        titleColor = "text-brand-white";
        paragraphColor = "text-[#D6E8FFDD]";
        markerColor = "#D6E8FFDD";
        break;
    case "black":
        titleColor = "text-brand-black";
        paragraphColor = "text-brand-black";
        markerColor = "#001025";
}

let openAttribute = {};

if (open) {
    openAttribute = {
        open: "open",
    };
}

let overflowStyle = "hidden";

if (overflow) {
    overflowStyle = "visible";
}
---

<details {name} class={titleColor} {...openAttribute}>
    <summary
        class="font-intruder cursor-pointer list-outside text-2xl lg:text-3xl"
        >{summary}</summary
    >
    <div
        class={"text-lg lg:text-xl mt-4 lg:text-justify flex flex-col gap-4 " +
            paragraphColor}
    >
        <slot />
    </div>
</details>

<style define:vars={{ markerColor, overflowStyle }}>
    summary::marker {
        font-size: 0.9em;
        color: var(--markerColor);
    }

    details::details-content {
        overflow-y: var(--overflowStyle);

        block-size: 0px;

        transition:
            block-size cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s,
            content-visibility cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;

        transition-behavior: allow-discrete;
    }

    details[open]::details-content {
        block-size: max-content;
    }
</style>
