---
import Default from "../../layouts/default.astro";
---

<Default>
    <h1 class="intruder text-3xl lg:text-4xl xl:text-5xl text-center">
        В следующем обновлении добавлю)
    </h1>
</Default>
