---
import { getCollection } from "astro:content";
import EpisodeCard from "@components/episode/card.astro";
import Default from "@layouts/default.astro";

const episodes = (await getCollection("episodes")).sort(
    (a, b) => b.data.episode_number - a.data.episode_number,
);

const title = "Эпизоды - СофтварьКаст";
const description = "На этой странице собраны все эпизоды.";
const tags = "официально, official, эпизод, эпизоды, episode, episodes";
---

<Default {title} {description} {tags}>
    <link
        slot="head"
        rel="alternate"
        type="application/rss+xml"
        title="Эпизоды - СофтварьКаст"
        href={new URL("/episodes/main.xml", Astro.site)}
    />

    <div class="text-center mb-4 lg:mb-8 flex flex-col gap-2 items-center">
        <h1 class="font-intruder text-4xl lg:text-5xl xl:text-6xl">
            Список эпизодов
        </h1>
        <a
            href="/episodes/table-view"
            class="font-intruder text-xl lg:text-3xl xl:text-4xl underline underline-offset-4 xl:underline-offset-8 w-fit"
        >
            Показать в таблице
        </a>
    </div>

    <div
        class="grid grid-cols-1 gap-4 md:gap-6 px-2 md:px-4 lg:px-0 md:grid-cols-2 xl:grid-cols-3 lg:gap-7 xl:gap-5"
    >
        {episodes.map((episode) => <EpisodeCard {episode} />)}
    </div>
</Default>
