---
import { getCollection } from "astro:content";
import EpisodeRow from "@components/episode/row.astro";
import Default from "@layouts/default.astro";

const episodes = (await getCollection("episodes")).sort(
    (a, b) => b.data.episode_number - a.data.episode_number,
);

const title = "Эпизоды (В таблице) - СофтварьКаст";
const description = "На этой странице собраны все эпизоды в виде таблицы.";
const tags = "официально, official, эпизод, эпизоды, episode, episodes";
---

<Default {title} {description} {tags}>
    <link
        slot="head"
        rel="alternate"
        type="application/rss+xml"
        title="Эпизоды - СофтварьКаст"
        href={new URL("/episodes/main.xml", Astro.site)}
    />

    <div class="text-center mb-4 lg:mb-8 flex flex-col gap-2 items-center">
        <h1 class="font-intruder text-4xl lg:text-5xl xl:text-6xl">
            Список эпизодов
        </h1>
        <a
            href="/episodes"
            class="font-intruder text-xl lg:text-3xl xl:text-4xl underline underline-offset-4 xl:underline-offset-8 w-fit"
        >
            Показать карточками
        </a>
    </div>

    <div class="overflow-hidden overflow-x-auto">
        <table
            class="bg-brand-blue/20 w-full text-brand-black text-lg lg:text-base border-2 border-brand-blue/10 shadow-lg backdrop-blur-[2px]"
            id="episodes-table"
        >
            <tr class="bg-brand-blue/35 text-xl lg:text-lg">
                <th>№</th>
                <th>Название эпизода</th>
                <th>Дата выпуска</th>
                <th>Длина видео</th>
                <th>Длина аудио</th>
            </tr>
            {episodes.map((episode) => <EpisodeRow {episode} />)}
        </table>
    </div>
</Default>

<style is:global>
    #episodes-table,
    #episodes-table td,
    #episodes-table th {
        padding: 1rem 0.25rem 1rem 0.25rem;
        text-align: center;
    }

    #episodes-table tr td:nth-child(2) {
        text-align: left;
    }

    #episodes-table tr:nth-child(odd) td {
        background-color: color-mix(
            in oklab,
            var(--color-brand-blue) 10%,
            transparent
        );
    }
</style>
