---
import dayjs from "dayjs";
const currentYear = dayjs().format("YYYY");
---

<footer
    class="w-full flex flex-col items-center text-sm gap-1 my-4 text-center mt-16"
>
    <p>
        <strong
            >Copyright &copy; 2025 - {currentYear} Данила Кононов |
        </strong><a
            href="mailto:danila.kononov.official@yandex.ru"
            class="underline">Связаться со мной</a
        >
    </p>
    <p>
        <strong
            >Сделано с любовью &lt;3 и <a
                href="https://astro.build/"
                class="underline">Astro</a
            >!</strong
        >
    </p>
    <p>
        <strong
            >Исходный код доступен под лицензией Apache License v2.0 по: <a
                href="https://github.com/i-Moony/softwarecast-website"
                class="underline">ссылке</a
            >.</strong
        >
    </p>
</footer>
