---
import { Picture } from "astro:assets";
import Logo from "../images/logo.png";

const { pathname } = Astro.url;
---

<header id="header" class="bg-pattern-anim text-brand-white font-intruder sticky top-0 flex flex-row justify-between items-center px-2 md:px-8 xl:px-32 2xl:px-64 py-2 z-50 pointer-fine:transition-all">
    <a href="/" id="header-left" class="flex flex-row items-center gap-1 z-[300] pointer-fine:transition-all group">
        <Picture src={Logo} alt="logo" width="96" layout="constrained" formats={["avif", "webp", "png"]} class="w-16 h-auto md:w-20 lg:w-24 max-sss:hidden group-hover:pointer-fine:logo-anim pointer-fine:transition-all duration-500" id="header-logo"></Picture>
        <span class="text-2xl font-medium md:text-3xl lg:text-4xl group-hover:pointer-fine:ml-0.5 pointer-fine:transition-all" id="header-title">СофтварьКаст</span>
    </a>
    <nav id="header-right" class="flex gap-4 text-xl lg:gap-8 xl:text-2xl">
        <!-- <a href="/episodes" class={pathname.slice(1) === 'episodes' ? 'active' : ''}>Эпизоды</a> -->
        <!-- <a href="/collections" class={pathname.slice(1) === 'collections' ? 'active' : ''}>Подборки</a> -->
        <a href="/links" class={pathname.startsWith("/links") ? 'active' : ''}>Ссылки</a>
        <a href="/faq" class={pathname.startsWith("/faq") ? 'active' : ''}>FAQ</a>
    </nav>
    <input type="checkbox" id="header-hamburger-checkbox" autocomplete="off" class="hidden">
    <label id="header-hamburger" for="header-hamburger-checkbox">
        <span></span>
    </label>
    <nav id="header-fullscreen" class="bg-pattern-anim invisible opacity-0 fixed top-0 left-0 w-full h-full flex justify-center items-center z-[200] transition-all md:hidden">
        <div class="flex flex-col justify-center items-center">
            <a href="/" class={pathname.length <= 1 ? 'active' : ''}>Главная</a>
            <!-- <a href="/episodes" class={pathname.slice(1) === 'episodes' ? 'active' : ''}>Эпизоды</a> -->
            <!-- <a href="/collections" class={pathname.slice(1) === 'collections' ? 'active' : ''}>Подборки</a> -->
            <a href="/links" class={pathname.startsWith("/links") ? 'active' : ''}>Ссылки</a>
            <a href="/faq" class={pathname.startsWith("/faq") ? 'active' : ''}>FAQ</a>
        </div>
    </nav>
</header>

<style>
    #header-hamburger {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        cursor: pointer;
        width: max-content;
        z-index: 300;
    }

    #header-fullscreen div a {
        font-size: 2.5rem;
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s all;
        text-decoration-color: transparent;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-decoration-style: solid;
    }

    #header-fullscreen div a:hover {
        text-decoration-color: inherit;
    }

    #header-fullscreen div a.active {
        color: white;
        text-decoration-color: inherit;
    }

    #header-hamburger::before,
    #header-hamburger::after,
    #header-hamburger span {
        content: " ";
        width: 2rem;
        height: 0.2rem;
        background-color: #D6E8FF;
        transform-origin: left center;
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
        z-index: 12;
    }

    #header-hamburger-checkbox:checked ~ #header-hamburger::before {
        width: 1.72rem;
        rotate: 45deg;
        translate: 0.1rem 0.1rem;
    }

    #header-hamburger-checkbox:checked ~ #header-hamburger::after {
        width: 1.72rem;
        rotate: -45deg;
        translate: 0.1rem -0.1rem;
    }

    #header-hamburger-checkbox:checked ~ #header-hamburger span {
        opacity: 0;
        width: 0;
    }

    #header-hamburger-checkbox:checked ~ #header-fullscreen {
        visibility: visible;
        opacity: 1;
    }

    #header-left {
        text-decoration-color: transparent;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-decoration-style: solid;
    }

    #header-left:hover {
        text-decoration-color: inherit;
    }

    #header-right a {
        display: none;
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s all;
        text-decoration-color: transparent;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-decoration-style: solid;
    }

    #header-right a:hover, #header-right a.active {
        text-decoration-color: inherit;
    }

    @media (width >= 48rem) {
        #header-hamburger {
            display: none;
        }

        #header-right a {
            display: unset;
        }
    }

    @media (width < 48rem) {
        body:has(#header-hamburger-checkbox:checked) {
            overflow: hidden;
        }
    }
</style>
