---
/*
    Copyright 2025 Danila Kononov a.k.a. moony (C)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/
const { title, id } = Astro.props;
---

<section class="w-full flex flex-col items-center gap-4 text-center">
    <h2 class="text-3xl md:text-5xl text-[#d5e8ff]" {id}>{title}</h2>
    <div class="w-full rounded-3xl grid bg-[#d5e8ff]/10 backdrop-blur-[3px] overflow-hidden border-2 border-[#d5e8ff]/20">
        <slot></slot>
    </div>
</section>
