---
import "../styles/global.css";
import Head from "../components/head.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

const { title = "СофтварьКаст", description, tags, } = Astro.props;
---

<html lang="ru" dir="ltr">
    <Head {title} {description} {tags}></Head>
    <body>
        <Header></Header>
        <div id="main-page" class="text-[#0E2B50] font-serif mt-8 md:mx-6 md:my-4 lg:my-8 xl:mx-32 2xl:mx-60 p-2 py-4 md:px-4 md:pt-4 lg:px-8 lg:pt-8 xl:px-10 xl:pt-10 rounded-t-2xl md:rounded-3xl xl:rounded-4xl shadow-2xl">
            <main>
                <slot></slot>
            </main>
            <Footer></Footer>
        </div>
    </body>
</html>

<style>
    body {
        background-image: url("../images/pattern.webp");
        background-color: #074f8f;
        background-size: 100px;
    }

    #main-page {
        background-image: url("../images/paper.webp");
        background-color: #D6E8FF;
    }
</style>
